react-email-starter/.gitignore
react-email-starter/package-lock.json
react-email-starter/package.json
react-email-starter/readme.md
react-email-starter/.react-email/package-lock.json
react-email-starter/.react-email/package.json
react-email-starter/.react-email/postcss.config.js
react-email-starter/.react-email/tailwind.config.js
react-email-starter/.react-email/tsconfig.json
react-email-starter/.react-email/yarn.lock
react-email-starter/.react-email/.next/app-build-manifest.json
react-email-starter/.react-email/.next/build-manifest.json
react-email-starter/.react-email/.next/react-loadable-manifest.json
react-email-starter/.react-email/.next/cache/webpack/client-development/0.pack
react-email-starter/.react-email/.next/cache/webpack/client-development/3.pack
react-email-starter/.react-email/.next/cache/webpack/client-development/4.pack
react-email-starter/.react-email/.next/cache/webpack/client-development/5.pack
react-email-starter/.react-email/.next/cache/webpack/client-development/6.pack
react-email-starter/.react-email/.next/cache/webpack/client-development/index.pack
react-email-starter/.react-email/.next/cache/webpack/server-development/4.pack
react-email-starter/.react-email/.next/cache/webpack/server-development/5.pack
react-email-starter/.react-email/.next/server/app-paths-manifest.json
react-email-starter/.react-email/.next/server/client-reference-manifest.js
react-email-starter/.react-email/.next/server/client-reference-manifest.json
react-email-starter/.react-email/.next/server/flight-server-css-manifest.js
react-email-starter/.react-email/.next/server/flight-server-css-manifest.json
react-email-starter/.react-email/.next/server/middleware-build-manifest.js
react-email-starter/.react-email/.next/server/middleware-react-loadable-manifest.js
react-email-starter/.react-email/.next/server/next-font-manifest.js
react-email-starter/.react-email/.next/server/next-font-manifest.json
react-email-starter/.react-email/.next/server/pages-manifest.json
react-email-starter/.react-email/.next/server/server-reference-manifest.js
react-email-starter/.react-email/.next/server/server-reference-manifest.json
react-email-starter/.react-email/.next/server/webpack-runtime.js
react-email-starter/.react-email/.next/server/app/preview/[slug]/page.js
react-email-starter/.react-email/.next/static/chunks/_app-client_node_modules_next_font_google_target_css_path_src_app_layout_tsx_import_Inter_arg-7ffe8b.js
react-email-starter/.react-email/.next/static/chunks/_app-client_src_styles_globals_css.js
react-email-starter/.react-email/.next/static/chunks/webpack.js
react-email-starter/.react-email/.next/static/chunks/app/page.js
react-email-starter/.react-email/.next/static/chunks/app/preview/[slug]/page.js
react-email-starter/.react-email/.next/static/css/_app-client_node_modules_next_font_google_target_css_path_src_app_layout_tsx_import_Inter_arg-7ffe8b.css
react-email-starter/.react-email/.next/static/css/app/page.css
react-email-starter/.react-email/.next/static/css/app/preview/[slug]/page.css
react-email-starter/.react-email/.next/static/development/_buildManifest.js
react-email-starter/.react-email/.next/static/development/_ssgManifest.js
react-email-starter/.react-email/.next/static/media/05a31a2ca4975f99-s.woff2
react-email-starter/.react-email/.next/static/media/51ed15f9841b9f9d-s.woff2
react-email-starter/.react-email/.next/static/media/513657b02c5c193f-s.woff2
react-email-starter/.react-email/.next/static/media/c9a5bc6a7c948fb0-s.p.woff2
react-email-starter/.react-email/.next/static/media/d6b16ce4a6175f26-s.woff2
react-email-starter/.react-email/.next/static/media/ec159349637c90ad-s.woff2
react-email-starter/.react-email/.next/static/media/fd4db3eb5472fc27-s.woff2
react-email-starter/.react-email/.next/static/webpack/_app-client_node_modules_next_font_google_target_css_path_src_app_layout_tsx_import_Inter_arg-7ffe8b.adb859011764df1f.hot-update.js
react-email-starter/.react-email/.next/static/webpack/_app-client_src_styles_globals_css.98dbb4683bee587b.hot-update.js
react-email-starter/.react-email/.next/static/webpack/_app-client_src_styles_globals_css.adb859011764df1f.hot-update.js
react-email-starter/.react-email/.next/static/webpack/5b51acc51cea1364.webpack.hot-update.json
react-email-starter/.react-email/.next/static/webpack/87a70c82092f07b1.webpack.hot-update.json
react-email-starter/.react-email/.next/static/webpack/98dbb4683bee587b.webpack.hot-update.json
react-email-starter/.react-email/.next/static/webpack/adb859011764df1f.webpack.hot-update.json
react-email-starter/.react-email/.next/static/webpack/app-client-internals.bdd17bddc74b2958.hot-update.js
react-email-starter/.react-email/.next/static/webpack/bdd17bddc74b2958.webpack.hot-update.json
react-email-starter/.react-email/.next/static/webpack/webpack.5b51acc51cea1364.hot-update.js
react-email-starter/.react-email/.next/static/webpack/webpack.87a70c82092f07b1.hot-update.js
react-email-starter/.react-email/.next/static/webpack/webpack.98dbb4683bee587b.hot-update.js
react-email-starter/.react-email/.next/static/webpack/webpack.adb859011764df1f.hot-update.js
react-email-starter/.react-email/.next/static/webpack/webpack.bdd17bddc74b2958.hot-update.js
react-email-starter/.react-email/.next/static/webpack/app/layout.bdd17bddc74b2958.hot-update.js
react-email-starter/.react-email/.next/static/webpack/app/page.98dbb4683bee587b.hot-update.js
react-email-starter/.react-email/.next/static/webpack/app/page.adb859011764df1f.hot-update.js
react-email-starter/.react-email/.next/static/webpack/app/preview/[slug]/page.adb859011764df1f.hot-update.js
react-email-starter/.react-email/.next/types/app/layout.ts
react-email-starter/.react-email/.next/types/app/page.ts
react-email-starter/.react-email/.next/types/app/preview/[slug]/page.ts
react-email-starter/.react-email/src/app/home.tsx
react-email-starter/.react-email/src/app/layout.tsx
react-email-starter/.react-email/src/app/page.tsx
react-email-starter/.react-email/src/app/preview/[slug]/page.tsx
react-email-starter/.react-email/src/app/preview/[slug]/preview.tsx
react-email-starter/.react-email/src/components/button.tsx
react-email-starter/.react-email/src/components/code-container.tsx
react-email-starter/.react-email/src/components/code.tsx
react-email-starter/.react-email/src/components/heading.tsx
react-email-starter/.react-email/src/components/icon-base.tsx
react-email-starter/.react-email/src/components/icon-button.tsx
react-email-starter/.react-email/src/components/icon-check.tsx
react-email-starter/.react-email/src/components/icon-clipboard.tsx
react-email-starter/.react-email/src/components/icon-download.tsx
react-email-starter/.react-email/src/components/index.ts
react-email-starter/.react-email/src/components/logo.tsx
react-email-starter/.react-email/src/components/send.tsx
react-email-starter/.react-email/src/components/shell.tsx
react-email-starter/.react-email/src/components/sidebar.tsx
react-email-starter/.react-email/src/components/text.tsx
react-email-starter/.react-email/src/components/tooltip-content.tsx
react-email-starter/.react-email/src/components/tooltip.tsx
react-email-starter/.react-email/src/components/topbar.tsx
react-email-starter/.react-email/src/styles/globals.css
react-email-starter/.react-email/src/utils/as.ts
react-email-starter/.react-email/src/utils/copy-text-to-clipboard.ts
react-email-starter/.react-email/src/utils/get-emails.ts
react-email-starter/.react-email/src/utils/index.ts
react-email-starter/.react-email/src/utils/language-map.ts
react-email-starter/.react-email/src/utils/unreachable.ts
react-email-starter/emails/notion-magic-link.tsx
react-email-starter/emails/plaid-verify-identity.tsx
react-email-starter/emails/stripe-welcome.tsx
react-email-starter/emails/vercel-invite-user.tsx
react-email-starter/emails/static/notion-logo.png
react-email-starter/emails/static/plaid-logo.png
react-email-starter/emails/static/plaid.png
react-email-starter/emails/static/stripe-logo.png
react-email-starter/emails/static/vercel-arrow.png
react-email-starter/emails/static/vercel-logo.png
react-email-starter/emails/static/vercel-team.png
react-email-starter/emails/static/vercel-user.png
authController Backup
client/ca.crt
client/ca.key
client/cert.crt
client/cert.key
client/rootCA.key
client/rootCA.pem
.env
client/.env
backend/.env
backend/.env
